*{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: auto;

}

header{
  position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

#container{
  width: 100%;
  height: 70px;
}

#container div{
  display: inline-block;
  vertical-align: middle;
}

.logo img{
  width: 85px;
  height: 40px;
  padding: 20px;
  margin-left: 30px;
}

.contents ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

.contents ul li {
   text-align: center;
   padding-left: 5px;
   padding-right: 5px;
 }

 .contents ul li a{
   text-decoration: none;
   font-size: 20px;
   display: block;
 }

  .contents ul li a:hover{
    color: #4e4e4e;
  }

.login-btn{
  float: right;
  margin-right: 100px;
}

.btn1{
  font-size: 20px;
  background:none;
  border:none;
  margin-top: 20px;
  margin-right: 5px;
  font-family: 'px;Roboto', sans-serif;
}

.btn1:hover{
  color: #01579B;
  border-bottom: 2px solid #01579B;
}

.btn2{
  font-size: 20px;
  text-decoration: none;
  background-color: #01579B;
  padding: 8px 5px 8px 5px;
  margin-top: 20px;
  color: #fff;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
}




/* Main image with text and button*/
.content-wrapper{
  width: 100%;
}

.content-wrapper img{
  width: 100vw;
  height: 90vh;
  background-size: cover;
}

.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -26%;
}

.text-wrapper h1{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin-left: 60px;
}

.text-wrapper button{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background-color: #01579B;
  font-size: 20px;
  padding: 15px;
  margin-top: 30px;
  margin-left: 60px;
}

.search{
  width: 100%;
  height: 100px;
  background-color: #E1F5FE;
  position: relative;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.search h2{
  padding-top: 10px;
  margin-left: 90px;
  color: #03A9F4;
  font-family: 'Vollkorn', serif;
}

.search input[type=text] {
  width: 40%;
  height: 40px;
  border-radius: 50px;
  margin-top: 5px;
  margin-left: 90px;
}

.swipe{
    overflow: auto;
    white-space:nowrap;
    overflow-y: scroll;
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading{
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 30px;
  margin-left: 60px;
}

.heading h2{
  width: 100%;
  height: 40px;
   color: #424242;
  font-family: sans-serif;
}

.subjectslist ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

.subjectslist ul li {
   text-align: center;
   display: inline-block;
   padding-left: 5px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right: 5px;
   margin: 30px;
   box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
   font-family: Roboto, sans-serif;
  }



 .subjectslist ul li a{
   text-decoration: none;
   font-size: 20px;
   display: block;
   color: #03A9F4;
 }


 .browsebtn button{
   color: #01579B;
   font-family: sans-serif;
   border-color: #01579B;
   border-radius: 6px;
   background-color: #fff;
   font-size: 16px;
   padding: 18px;
   margin-top: 30px;
   margin-left: 40px;
 }

 footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f9f9;
  color: white;
  text-align: center;
}

 .footer-wrapper{
   width: 100%;
   height: 200px;
   display: flex;
   flex-direction: row;
   margin-top: 30px;
   padding-bottom: 50px;
 }


.footer-wrapper .footer_image img{
  width: 120px;
  height: 60px;
}

.footer_image{
  margin: 40px;
}

.first_section{
  margin: 40px;
}

.second_section{
  margin: 40px;
}

.third_section{
  margin: 40px;
}

.share{
  margin: 40px;
}

.first_title h2{
  color: #9b9999;
  float: left;
}

.second_title h2{
  color: #9b9999;
  float: left;
}

.third_title h2{
  color: #9b9999;
  float: left;
}

.first_list{
  margin-top: 50px;
}

.second_list{
  margin-top: 50px;
}

.third_list{
  margin-top: 50px;
}

.first_list ul li{
  text-align: left;
}

.second_list ul li{
  text-align: left;
}

.third_list ul li{
  text-align: left;
}
.first_list ul li a{
  color: #01579B;
  text-decoration: none;
}

.second_list ul li a{
  color: #01579B;
  text-decoration: none;
}

.third_list ul li a{
  color: #01579B;
  text-decoration:none;
}


.social_icons ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

.social_icons ul li{
  text-align: center;
  display: inline-block;
  padding-left: 5px;
  padding-top: 4px;
  padding-right: 5px;
}
.social_icons ul li a{
  font-size: 40px;
  text-decoration: none;
  color: #01579B;
}

.footer-wrapper .apps img{
  width: 300px;
  height: 45px;
}

.apps img{
  float: left;
}

.copyright_tag{
  margin-top: 70px;
}

.copyright_tag h3{
  font-size: 18px;
  float: left;
  color: #595959;
}

/* Drop Down */
/* .drop_down_container{
  background-color: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}
.drop_first_section{
   display: flex;
   flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3e4144;
}


.drop_first_section h2,button{
  display: none;
}

.drop_second_section ul li{
  display: none;
}

.contents ul li:hover ul li{
  display: block;
}

.drop_header h2{
  color: #3e4144;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-right: 230px;
  float: left;
}

.drop_btn button{
  font-size: 16px;
  text-decoration: none;
  background-color: #01579B;
  padding: 10px 15px 10px 15px;
  color: #fff;
  margin-left: 230px;
  font-family: 'Roboto', sans-serif;
}

.drop_second_section ul{
  margin: 20px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.drop_second_section ul li a{
  float: left;
  color: #3e4144;
}

.drop_down_container div{
  display: none;
} */
